.shop {
  display: flex;
  width: 100%;
  margin: 50px 0;
}
.shop aside {
  width: 18%;
  padding-top: 20px;
}
.shop aside h3 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.shop main {
  width: 82%;
}
.shop main h2 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
}
