.shop {
  display: flex;
  width: 100%;
  margin: 50px 0 100px 0;
}
.shop aside {
  width: 18%;
  padding-top: 20px;
}
.shop aside h3 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-bottom: 25px;
}
.shop aside ul li {
  margin-top: 5px;
}
.shop aside ul li span i {
  color: #000;
  font-size: 13px;
  width: 0;
  overflow: hidden;
  margin-right: 0;
}
.shop aside ul li span:hover i {
  margin-right: 4px;
  width: 14px;
  transition: 0.3s ease-in-out;
}
.shop aside ul li span {
  font-size: 14px;
  cursor: pointer;
  color: #000;
}
.shop main {
  width: 82%;
}
.shop main h2 {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
}
