.shopping_cart {
  width: 100%;
}
.shopping_cart .empty_cart {
  padding: 40px 0;
  height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping_cart .empty_cart img {
  max-width: 55%;
  z-index: 0;
}
.shopping_cart .fill_cart h3 {
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}
.table thead th {
  padding-bottom: 20px !important;
  text-transform: uppercase;
  font-weight: 400;
}
.table tbody td {
  padding-top: 30px;
}
.table tbody th {
  padding-top: 26px;
}
.table tbody th img {
  max-width: 70px;
  mix-blend-mode: multiply;
}
.table thead th,
tbody th,
tbody td {
  text-align: center;
}
.shopping_cart .table tbody tr {
  border-bottom: 1px solid #dcdcdc !important;
}
.table thead tr {
  border-bottom: 1px solid #dcdcdc !important;
}
.table tbody .name {
  max-width: 110px;
  border: none;
}
.table tbody .name p{
  text-align: start;
}
.table thead th:nth-child(2) {
  text-align: start;
}
.table tbody .count {
  width: 100px;
  height: 40px;
  border: 1px solid #000;
  display: flex;
}
.table tbody .count button {
  width: 30px;
  background: none;
  outline: none;
  border: none;
}
.table tbody .count button i {
  font-size: 14px;
}
.table tbody .count span {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table tbody .count_contaner {
  display: flex;
  justify-content: center;
  border-bottom: 0 !important;
}
.table tbody td i {
  cursor: pointer;
}
.fill_cart .checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-left: 100px;
}
.fill_cart .checkout a {
  color: #fff;
  background: #000;
  padding: 8px 16px;
  letter-spacing: 1px;
  font-size: 16px;
}
.fill_cart .checkout .total_sub {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping_cart .fill_cart .checkout .total_sub h6,
span {
  color: #000;
  font-size: 18px;
}
@media (max-width: 576px) {
  .shopping_cart .empty_cart {
    height: calc(100vh - 130px);
  }
  .shopping_cart .empty_cart img {
    max-width: 100%;
  }
  .fill_cart {
    padding-top: 35px;
  }
  .fill_cart .tabel_wrap {
    overflow-x: auto;
    margin-bottom: 50px;
  }
  .tabel_wrap::-webkit-scrollbar {
    height: 4px;
  }  
  .tabel_wrap::-webkit-scrollbar-track {
    background-color: #cccccc;
    border-radius: 0;
  }
  .tabel_wrap::-webkit-scrollbar-thumb {
    background-color: #888;
    box-shadow: none;
  }
  .table tbody .name {
    max-width: 0;
    min-width: 200px;
    padding-top: 22px;
  }
  .table tbody .count_contaner{
    min-width: 190px;
  }
  .table tbody td:last-child{
    min-width: 90px;
  }
  .fill_cart .checkout {
    padding: 0;
    flex-direction: column;
    height: 85px;
    margin-bottom: 25px;
  }
  .fill_cart .checkout .total_sub {
    width: 90%;
    align-items: baseline;
  }
}
