.header_content {
  height: calc(100vh - 50px);
  border-bottom: 1px solid #cccccc;
}
.header_content .up_1 {
  height: calc(100vh - 130px);
  padding: 60px 0 0 !important;
}
.vid_entire {
  display: flex;
}
.vid_entire video {
  width: calc(100% - 40px);
  height: 100%;
  object-fit: cover;
}
.vid_entire .sm-caption {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.vid_entire .sm-caption img {
  width: 23px;
  height: 26px;
  margin-bottom: 40px;
}
.vid_entire .sm-caption .caption {
  height: 300px;
  width: 20px;
  position: relative;
  display: flex;
}
.vid_entire .sm-caption .caption p {
  transform: rotate(-90deg);
  position: absolute;
  top: 125px;
  left: -142px;
  height: 20px;
  width: 300px;
  margin: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
}
.sitetitle {
  padding: 55px 0 0 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sitetitle .head {
  padding-right: 80px !important;
}
.sitetitle .head h1 {
  color: #000;
  font-size: 39px;
  line-height: 1.42em;
  font-weight: 500;
}
.sitetitle .head p {
  margin-top: 25px !important;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}
.read_more {
  margin-top: 10px;
}
.read_more a {
  border: 1px solid #000;
  color: #000;
  padding: 5px 15px;
}
.quick_access {
  margin-top: 20px;
}
.quick_access ul li {
  margin-top: 10px;
}
.quick_access ul li a:hover i {
  width: 15px;
  margin-right: 4px;
}
.quick_access ul li i {
  margin-right: 0;
  font-size: 14px;
  width: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.quick_access ul li a {
  color: #000;
  text-transform: uppercase;
}
.header_content .col-lg-3 .last_container {
  width: 100%;
  height: 100%;
  padding: 55px 0 0 40px;
}
.header_content .col-lg-3 .last_container img {
  width: 84%;
  margin: 0 0 0 auto;
}
.header_content .col-lg-3 .last_container p {
  width: 84%;
  margin: 0 0 0 auto;
  margin-top: 25px !important;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}
.brands_wrap {
  height: 280px;
  border-bottom: 1px solid #cccccc;
}
.brands_wrap .brands {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.brands_wrap .brands div {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands_wrap .brands div img {
  width: 100%;
  cursor: pointer;
}
.brands_wrap .brands div img:hover {
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}
.featured {
  height: 100%;
}
.featured .col-12 h2 {
  font-weight: 500;
  color: #000;
  font-size: 40px;
}
.featured .line {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured .line span {
  width: 120px;
  height: 1px;
  background: #000;
}
.team {
  height: 100%;
}
.team .col-12 h2 {
  font-weight: 500;
  color: #000;
  font-size: 40px;
}
.team .Team_card {
  padding: 0 20px;
}
.team .line {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .line span {
  width: 110px;
  height: 1px;
  background: #000;
}
.team .team_img {
  padding: 10px 10px 10px 0;
  position: relative;
}
.team .team_img .social {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 100%;
}
.team .team_img .social .soc_container {
  width: 0;
  overflow: hidden;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.team .Team_card:hover .social .soc_container {
  width: 100%;
  transition: 0.5s ease-in-out;
}
.team .team_img .social .soc_container a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .team_img .social .soc_container i {
  margin: 0 auto;
  color: #000;
  background: #e6e4e4;
  font-size: 18px;
  padding: 6px;
  border-radius: 50%;
}
.team .team_img .social .soc_container i:first-child {
  margin-top: 20px;
}
.team .team_img img {
  max-width: 100%;
}
.team .job_title {
  padding: 10px 10px 10px 0;
}
.team .job_title h3 {
  font-weight: 500;
  color: #000;
  font-size: 24px;
}
.news {
  height: 100%;
}
.news .col-12 h2 {
  font-weight: 500;
  color: #000;
  font-size: 40px;
}
.news .line {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news .line span {
  width: 110px;
  height: 1px;
  background: #000;
}
.news .blog_card {
  padding: 32px 28px;
  border: 1px solid #cccccc;
}
.news .blog_card .inner_card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.news .blog_card .inner_card .img_wrapper {
  width: 100%;
  display: block;
  overflow: hidden;
}
.news .blog_card .inner_card .img_wrapper img {
  max-width: 100%;
  object-fit: cover;
}
.news .blog_card .inner_card .publisher {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.news .blog_card .inner_card .publisher span {
  font-size: 15px;
  font-weight: 500;
  color: #737272;
}
.news .blog_card .inner_card h4 {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}
.news .blog_card .inner_card p {
  color: #737272;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}
.news .blog_card .inner_card p a {
  color: #000;
  font-weight: 500;
}
.news .blog_card:hover .inner_card .img_wrapper img {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}
.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 130px 0;
}
.sub .sub_wrap {
  width: 58%;
}
.sub .sub_wrap h3 {
  text-align: center;
  font-weight: 500;
  color: #000;
  line-height: 1.25em;
}
.sub .sub_wrap .field {
  width: 100%;
  height: 60px;
  border: 1px solid #cccccc;
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub .sub_wrap .field input {
  width: 75%;
  height: 60%;
  background: none;
  outline: none;
  border: none;
  color: #000;
  font-weight: 500;
}
.sub .sub_wrap .field input::placeholder {
  font-weight: 400;
}
.sub .sub_wrap .field button {
  width: 18%;
  height: 60%;
  background: none;
  outline: none;
  border: none;
  background-color: #000;
  color: #fff;
  letter-spacing: 0.5px;
}
.sub .sub_wrap p {
  text-align: center;
  margin-top: 30px;
  color: #000;
  font-style: italic;
  font-weight: 500;
}
.sub .sub_wrap p a {
  color: #000;
  margin-left: 8px;
}
.sub .sub_wrap p a:hover {
  color: #737272;
}
@media (max-width: 576px) {
  .header_content {
    height: 100%;
  }
  .header_content .up_1 {
    height: 100%;
  }
  .sitetitle {
    padding: 0;
    padding-left: 20px;
  }
  .vid_entire {
    align-items: center;
    justify-content: center;
  }
  .vid_entire .sm-caption {
    display: none;
  }
  .vid_entire video {
    width: 90%;
  }
  .sitetitle .head {
    padding: 0 20px 0 0 !important;
    margin-bottom: 5px;
  }
  .header_content .col-lg-3 .last_container {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .header_content .col-lg-3 .last_container img {
    margin: 0;
    width: 90%;
  }
  .header_content .col-lg-3 .last_container p {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 5%;
    width: 100%;
  }
  .brands_wrap .brands {
    grid-template-columns: repeat(3, 1fr);
  }
  .brands_wrap .brands div {
    padding: 20px;
  }
  .featured {
    justify-content: center;
  }
  .featured .col-12 h2 {
    font-size: 36px;
  }
  .team {
    justify-content: center;
  }
  .team .Team_card {
    padding: 0;
  }
  .team .team_img {
    padding: 0;
  }
  .team .col-12 h2 {
    font-size: 36px;
  }
  .news {
    justify-content: center;
  }
  .news .col-12 h2 {
    font-size: 36px;
  }
  .sub .sub_wrap {
    width: 100%;
  }
  .sub .sub_wrap p {
    padding: 0 5px !important;
  }
  .sub .sub_wrap .field input {
    width: 60%;
  }
  .sub .sub_wrap .field button {
    width: 30%;
    font-size: 15px;
  }
}
