.header_content {
  height: calc(100vh - 50px);
  border-bottom: 1px solid #cccccc;
}
.header_content .up_1 {
  height: calc(100vh - 100px);
  padding: 67px 0 0 !important;
}
.vid_entire {
  display: flex;
}
.vid_entire video {
  width: calc(100% - 40px);
  height: 100%;
  object-fit: cover;
}
.vid_entire .sm-caption {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.vid_entire .sm-caption img {
  width: 23px;
  height: 26px;
  margin-bottom: 40px;
}
.vid_entire .sm-caption .caption {
  height: 300px;
  width: 20px;
  position: relative;
  display: flex;
}
.vid_entire .sm-caption .caption p {
  transform: rotate(-90deg);
  position: absolute;
  top: 125px;
  left: -142px;
  height: 20px;
  width: 300px;
  margin: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
}
.sitetitle {
  padding: 55px 0 0 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sitetitle .head {
  padding-right: 80px !important;
}
.sitetitle .head h1 {
  color: #000;
  font-size: 40px;
  line-height: 1.42em;
  font-weight: 500;
}
.sitetitle .head p {
  margin-top: 25px !important;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}
.read_more {
  margin-top: 10px;
}
.read_more a {
  border: 1px solid #000;
  color: #000;
  padding: 5px 15px;
}
.quick_access {
  margin-top: 20px;
}
.quick_access ul li {
  margin-top: 10px;
}
.quick_access ul li a:hover i {
  width: 15px;
  margin-right: 4px;
}
.quick_access ul li i {
  margin-right: 0;
  font-size: 14px;
  width: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.quick_access ul li a {
  color: #000;
  text-transform: uppercase;
}
.header_content .col-3 .last_container {
  width: 100%;
  height: 100%;
  padding: 55px 0 0 40px;
}
.header_content .col-3 .last_container img {
  width: 90%;
  margin: 0 0 0 auto;
}
.header_content .col-3 .last_container p {
  width: 90%;
  margin: 0 0 0 auto;
  margin-top: 25px !important;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}
.brands_wrap {
  height: 280px;
  border-bottom: 1px solid #cccccc;
}
.brands_wrap .brands {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.brands_wrap .brands div {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands_wrap .brands div img {
  width: 100%;
  cursor: pointer;
}
.brands_wrap .brands div img:hover {
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}
.featured {
  height: 100%;
}
.featured .col-12 h2 {
  font-weight: 500;
  color: #000;
  font-size: 40px;
}
.featured .line {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured .line span {
  width: 120px;
  height: 1px;
  background: #000;
}
.team {
  height: 100%;
}
.team .col-12 h2 {
  font-weight: 500;
  color: #000;
  font-size: 40px;
}
.team .line {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .line span {
  width: 110px;
  height: 1px;
  background: #000;
}
.team .team_img {
  padding: 10px 10px 10px 0;
}
.team .team_img img {
  max-width: 100%;
}
.team .job_title {
  padding: 10px 10px 10px 0;
}
.team .job_title h3 {
  font-weight: 500;
  color: #000;
  font-size: 24px;
}
