.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav_header {
  padding: 0 60px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
.left_head span {
  font-size: 14px;
  color: #000;
}
.right_head div {
  gap: 24px;
}
.right_head div a {
  color: #000;
}
.right_head div span i {
  font-size: 13px;
}
.right_head div span {
  cursor: pointer;
}
.right_head div .down_drop {
  width: 110px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 60px;
  z-index: 23;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.right_head div .down_drop.active {
  height: 114px;
}
.right_head div .down_drop ul li {
  margin: 10px 0 auto 15px;
  cursor: pointer;
}
.right_head div .down_drop ul li:hover i {
  width: 14px;
}
.right_head div .down_drop ul li i {
  font-size: 12px;
  margin-right: 5px;
  width: 0;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.navigation nav {
  padding: 0 60px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}
.left_sup_nav {
  gap: 40px;
}
.left_sup_nav a img {
  width: 120px;
}
.left_sup_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.left_sup_nav ul li a {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
.left_sup_nav ul li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  background-color: #000;
  width: 0;
}
.left_sup_nav ul li a.active::after {
  width: 100%;
  transition: 0.2s;
}
.left_sup_nav ul li a:hover::after {
  width: 100%;
  transition: 0.2s;
}
nav {
  position: relative;
}
.right_sup_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.right_sup_nav ul li {
  position: relative;
}
.right_sup_nav ul li a {
  color: #000;
  font-size: 16px;
}
.right_sup_nav ul li small {
  color: #000;
  font-size: 16px;
}
.right_sup_nav ul li .count {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  left: -7px;
}
.right_sup_nav ul li a i,
ion-icon {
  margin-right: 5px;
}
.right_sup_nav ul li {
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
.right_sup_nav ul li i,
ion-icon {
  margin-right: 5px;
}
@media (max-width: 576px) {
  .nav_header {
    display: none;
  }
  .navigation nav {
    padding: 0 25px;
  }
  .left_sup_nav ul {
    display: none;
  }
  .right_sup_nav ul {
    gap: 20px;
  }
  .right_sup_nav ul li small {
    display: none;
  }
}
