.product {
  width: 100%;
  height: calc(23.33vh - 31.67px);
  display: flex;
  margin-bottom: 10px;
}
.product .pro_img {
  width: 30%;
}
.product img {
  max-width: 100%;
}
.product .pro_detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
}
.pro_detail h6 {
  font-size: 14px;
}
.pro_detail p {
  margin: 0;
  font-size: 14px;
}
.product .del_pro {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .del_pro i {
  cursor: pointer;
  color: #000;
}
@media (max-width: 576px) {
  .product {
    margin-bottom: 18px;
  }
  .product .pro_detail {
    padding-top: 0;
  }
}
