.Checkout {
  width: 100%;
}
.Checkout h3 {
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 40px;
  margin: 25px 0 50px 0;
}
.Checkout .copon {
  width: 100%;
  height: 60px;
  background-color: #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 50px;
}
.Checkout .copon p {
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
}
.Checkout .copon p span {
  font-size: 16px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}
.Checkout .copn_container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.Checkout .copn_container.active {
  height: 220px;
}
.Checkout .copn_container form input {
  width: 100%;
  height: 60px;
  padding: 20px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  border: 1px solid #787878;
  background: none;
  outline: none;
  margin-bottom: 20px;
}
.Checkout .copn_container form input::placeholder {
  color: #000;
  font-weight: 400;
}
.Checkout .copn_container .apply_btn {
  width: 150px;
  height: 45px;
  font-size: 17px;
  background-color: #000;
  color: #fff;
}
.Checkout .billing_container h4 {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
.Checkout .billing_container form {
  margin-bottom: 50px;
}
.Checkout .billing_container form .field {
  display: flex;
  flex-direction: column;
}
.Checkout .billing_container form .field label {
  color: #000;
  font-weight: 500;
  padding: 5px 0;
}
.Checkout .billing_container form .field input {
  width: 100%;
  height: 60px;
  padding: 20px;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  border: 1px solid #787878;
  background: none;
  outline: none;
  margin-bottom: 20px;
}
.Checkout .billing_container form .field input::placeholder {
  color: #000;
  font-weight: 400;
}
.Checkout .billing_container form .order_details {
  margin-top: 50px;
}
.Checkout .billing_container form .order_details h4 {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
}
.Checkout .billing_container form .order_details .head_order {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px 15px 0;
}
.Checkout .billing_container form .order_details .head_order span {
  font-size: 14px;
}
.Checkout .billing_container form .order_details .head_order b {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.Checkout .billing_container form .order_details .shiping {
  padding: 15px 50px 15px 0;
}
.Checkout .billing_container form .order_details .shiping .ship {
  margin-top: 5px;
}
.Checkout .billing_container form .order_details .shiping .ship input {
  margin-right: 5px;
  cursor: pointer;
  accent-color: black;
}
.Checkout .billing_container form .order_details .shiping .ship label {
  cursor: pointer;
}
.Checkout .billing_container form .order_details .payment {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.Checkout .billing_container form .order_details .payment input {
  margin-right: 5px;
  cursor: pointer;
  accent-color: black;
  cursor: pointer;
}
.Checkout .billing_container form .order_details .payment label {
  cursor: pointer;
}
.Checkout .billing_container form .order_details .term {
  padding: 25px 0 40px 0;
  margin-bottom: 0;
}
.Checkout .billing_container form button {
  width: 155px;
  background-color: #000;
  outline: none;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 16px;
  height: 40px;
  margin-left: 12px;
}
@media (max-width: 576px) {
  .Checkout .billing_container form .order_details .head_order {
    padding-right: 50px;
  }
  .Checkout .billing_container form .order_details .shiping {
    padding-right: 0;
  }
}
