@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
body {
  background-color: #e6e4e4;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  height: 100px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
::selection {
  background: #000;
  color: #fff;
}
.main_entire {
  width: 100%;
  padding: 0 60px;
  height: 100%;
}
