@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
body {
  background-color: #e6e4e4;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
::selection{
  background: #000;
  color: #fff;
}